@font-face {
  font-family: "BallparkWeiner";
  src: url("fonts/");
  src: url("fonts/ballpark.eot?#iefix") format("embedded-opentype"),
    url("fonts/ballpark.woff") format("woff"),
    url("fonts/ballpark.ttf") format("truetype"),
    url("fonts/ballpark.svg#BallparkWeiner") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dayrom";
  src: url("fonts/dayrom.eot");
  src: url("fonts/dayrom.eot?#iefix") format("embedded-opentype"),
    url("fonts/dayrom.woff") format("woff"),
    url("fonts/dayrom.ttf") format("truetype"),
    url("fonts/dayrom.svg#Dayrom") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("images/fond_jaune.png");
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #181818;
}
#cventier {
  width: 80%;
  margin: auto;
  min-width: 500px;
}
#banniere {
  background: url("images/ardennes_banniere.jpg") repeat-x center;
  height: 234px;
  width: 800px;
  font-size: 0.5em;
  color: white;
  margin: auto;
}
#banniere h1{
  text-align: end;
  padding-top: 200px;
  padding-right: 500px;
}
p{
  border: 1px solid black;
  line-height: 1em;
  margin: 2px;
}




