@font-face {
  font-family: "BallparkWeiner";
  src: url("fonts/");
  src: url("fonts/ballpark.eot?#iefix") format("embedded-opentype"),
    url("fonts/ballpark.woff") format("woff"),
    url("fonts/ballpark.ttf") format("truetype"),
    url("fonts/ballpark.svg#BallparkWeiner") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dayrom";
  src: url("fonts/dayrom.eot");
  src: url("fonts/dayrom.eot?#iefix") format("embedded-opentype"),
    url("fonts/dayrom.woff") format("woff"),
    url("fonts/dayrom.ttf") format("truetype"),
    url("fonts/dayrom.svg#Dayrom") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("images/fond_jaune.png");
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #181818;
}
#cventier {
  width: 90%;
  margin: auto;
  min-width: 500px;
}
#banniere {
  background: url("images/ardennes_banniere.jpg") repeat-x center;
  height: 234px;
  width: 800px;
  font-size: 0.7em;
  color: white;
  margin: auto;
  border-radius: 40px;
  box-shadow: 4px 4px 4px #1c1a19;
  border: 5px solid white;
}
#banniere h1{
  text-align: end;
  padding-top: 200px;
  padding-right: 450px;
  color:white;
  font-size: 1.4em;
}
h1,h2{
  line-height: 1em;
  margin: 5px;
  color: #760001;
}
p{
  /* border: 1px solid black; */
  line-height: 1em;
  margin: 2px;
}
#asides p{
  /* border: 1px solid black; */
  line-height: 1.2em;
}
/* contient rubriques et asides */
#corpsducv {
  display:flex;
  flex-direction: row;
  background:   
  url('images/separateur.png') repeat-x top, 
  url('images/ombre.png') repeat-x top;
  margin-top: 20px;
}
#rubriques{
  flex:3;
  margin-right: 20px;
}
#asides{
  flex:1.2
}
h1,h2{
 font-size: 1.2em; 
}
.logos {
  display:flex;
  justify-content:left;
   /* border: 1px solid blue;  */
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  color: #760001;
  height: 50px;
  width: 80%;
  align-items:flex-end;
  background-color:rgb(153, 184, 104);
  margin:auto;
  border:3px solid white;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #1c1a19;
}
.logos img {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
#philips img{
  width: 50px;
  height: 50px;
}
.gpuce {
  list-style-image: url('images/puce.png');
    /* padding-left: 2px; */
}
.gpuce p {
  text-align: justify;
}
.ppuce {
  list-style-image: url('images/ico_liensexterne.png');
  padding-left: 2px; 
}
footer{
  /* border: 1px solid #181818;  */
  padding-top: 25px;
  color: #760001;
  font-family: 'Dayrom', Arial, sans-serif;
}
footer h2{
  text-align: center;
}
#interets li {
  text-align: center;
  list-style-image: url('images/puce.png');
}
#interets a {
  text-decoration: none;
  padding-left: 15px;
 
}
nav a {
  text-decoration: none;
  padding-left: 15px;
  color: #760001;
  font-family: 'Dayrom', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.separ{
  background:  
  /* url('images/ico_top.png') no-repeat top center,  */
  url('images/separateur.png') repeat-x top, 
  url('images/ombre.png') repeat-x top;
  height: 20px ;
}
.click{
  display:flex;
  justify-content: center;
}
#identite img{
  border-radius: 100px;
  box-shadow: 4px 4px 4px #1c1a19;
  border: 5px solid white;
  margin-top: -100px;
}
#compeforms {
  display:flex;
  line-height: 1.5em;
  margin: 5px;
}
#compeforms p {
  line-height: 1.2em;
  margin: 5px;
}
section .gpuce{
  display:flex;
  justify-content:space-between;
}
section .gpuce li {
  margin-left: 25px;
  margin-right: 25px;
}
@media all and (max-width: 1024px)
{
  #banniere
  {
    display:none; 
    /* width: 400px;
    height: 100px; */

  }
  #banniere h1{
   
    padding-top: 200px;
    padding-right: 100px;
    color:white;
    font-size: 1.2em;
  }
  #corpsducv{
    flex-direction: column;
   
  }
  #identite img{
    float: right;
    margin-top: 0px;
    width: 120px;
  }
  #asides{
    background:  
    /* url('images/ico_top.png') no-repeat top center,  */
    url('images/separateur.png') repeat-x top, 
    url('images/ombre.png') repeat-x top;
    height: 20px ;
  }
  .click{
    display: none;
  }
  section ul{
    flex-direction: column;
  }
  #qualite{
    background: url("images/ardennes_banniere.jpg") repeat-x center;
    height: 100px;
  }
  #qualite h1, #qualite h2{
    margin: auto;
    text-align: right;
    margin-top: 5px;
  }
  #compeforms{
    flex-direction: column;
    
  }
  #competences h2{
    background:  
    /* url('images/ico_top.png') no-repeat top center,  */
    url('images/separateur.png') repeat-x top, 
    url('images/ombre.png') repeat-x top;
    height: 20px ;
    padding-top: 10px;
  }
}





